@using Entities
@using Business
@using FluentValidation
@using FluentValidation.Results
@inject IInputOutputBusiness _inOutBusiness
@inject IStorageBusiness _storageBusiness
@inject IWarehouseBusiness _warehouseBusiness
@inject IProductBusiness _productBusiness
@inject NavigationManager _navManager
@inject IValidator<InputOutputEntity> _inOutValidator

<div>
    <div class="form-group">
        <label class="form-label">Bodega: </label>
        <select class="form-control" @onchange="GetStoragesByWarehouseId">
            <option>Seleccione bodega...</option>
            @foreach (var warehouse in warehouses)
            {
                <option value="@warehouse.WarehouseId">@warehouse.WarehouseName</option>
            }
        </select>
    </div>
</div>

<hr />

<div>
    <EditForm Model="inOut">
        <div class="form-group">
            <label class="form-label">Producto: </label>
            <InputSelect class="form-control" @bind-Value="inOut.StorageId">
                <option>Seleccione producto...</option>
                @foreach (var storage in storagesFilter)
                {
                    <option value="@storage.StorageId">@storage.Product.ProductName</option>
                }
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Cantidad: </label>
            <InputNumber class="form-control" @bind-Value="inOut.Quantity" />
        </div>

        <br />

        <div class="form-group">
            <label class="form-label">¿Es entrada?</label>
            <InputCheckbox @bind-Value="inOut.IsInput"/>
        </div>

        <br />

        <div class="form-group">
            <input type="button" value="@buttonValue" @onclick="CreateInOut" />
        </div>
    </EditForm>
</div>

<ErrorsValidations errors="@errors" />

@code {
    InputOutputEntity inOut = new InputOutputEntity()
    {
        InOutId = Guid.NewGuid(),
        InOutDate = DateTime.Now
    };
    List<StorageEntity> storages = new List<StorageEntity>();
    List<StorageEntity> storagesFilter = new List<StorageEntity>();
    List<WarehouseEntity> warehouses = new List<WarehouseEntity>();
    string buttonValue => (inOut.IsInput) ? "Crear Entrada": "Crear Salida";
    List<ValidationFailure> errors = new List<ValidationFailure>();

    protected override async Task OnInitializedAsync()
    {
        warehouses = _warehouseBusiness.WarehouseList();
        storages = _storageBusiness.StorageList();
    }

    private void GetStoragesByWarehouseId(ChangeEventArgs ev)
    {
        IEnumerable<StorageEntity> storagesByWarehouseId = from storage in storages
                                                           where storage.WarehouseId == Guid.Parse(ev.Value.ToString())
                                                           select storage;

        storagesFilter = storagesByWarehouseId.ToList();
    }

    private void CreateInOut()
    {
        ValidationResult validationResult = _inOutValidator.Validate(inOut);
        ProductEntity product = new ProductEntity();
        StorageEntity storage = new StorageEntity();
        storage = storagesFilter.LastOrDefault( p => p.StorageId == inOut.StorageId);

        if (validationResult.IsValid)
        {
            if (inOut.IsInput)
            {
                storage.PartialQuantity += inOut.Quantity;

                product = storage.Product;
                product.TotalQuantity += inOut.Quantity;

                UpdateAndCreateDb(product, storage, inOut);

                _navManager.NavigateTo("inout/list");
            }
            else
            {
                if(isOutputValid(storage))
                {
                    storage.PartialQuantity -= inOut.Quantity;

                    product = storage.Product;
                    product.TotalQuantity -= inOut.Quantity;

                    UpdateAndCreateDb(product, storage, inOut);

                    _navManager.NavigateTo("inout/list");
                }
                else
                {
                    errors.Clear();
                    errors.Add( new ValidationFailure("", "La cantidad deseada a retirar es mayor que la disponible!"));
                }
            }
        }
        else
        {
            errors = validationResult.Errors;            
        }

    }

    private bool isOutputValid(StorageEntity storage)
    {
        if (storage.PartialQuantity >= inOut.Quantity)
        {
            return true;
        }

        return false;
    }

    private void UpdateAndCreateDb(ProductEntity product, StorageEntity storage, InputOutputEntity inOut)
    {
        _productBusiness.UpdateProduct(product);
        _storageBusiness.UpdateStorage(storage);
        _inOutBusiness.CreateInOut(inOut);
    }

}
