@using Entities
@using Business
@inject IProductBusiness _productBusiness

<table class="table caption-top">
    <caption>Lista de productos</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad total</th>
            <th scope="col">Categoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <th scope="row">@(cantidad++)</th>
                <td>@product.ProductName</td>
                <td>@product.ProductDescription</td>
                <td>@product.TotalQuantity</td>
                <td>@product.Category.CategoryName</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<ProductEntity> products = new List<ProductEntity>();
    int cantidad = 0;

    protected override async Task OnInitializedAsync()
    {
        products = _productBusiness.ProductList();
    }
}
